# Analyse of the relations between bankrupts and government mesures for the covid situation

In [1]:
import pandas as pd

## Importing the datasets

In [2]:
!wget -N https://statbel.fgov.be/sites/default/files/files/documents/Ondernemingen/7.5%20Faillissementen/Faill_Heb_fr.xlsx
!wget -N https://www.acaps.org/sites/acaps/files/resources/files/acaps_covid19_government_measures_dataset_0.xlsx

--2021-01-26 11:31:23--  https://statbel.fgov.be/sites/default/files/files/documents/Ondernemingen/7.5%20Faillissementen/Faill_Heb_fr.xlsx
Resolving statbel.fgov.be (statbel.fgov.be)... 193.191.245.224
Connecting to statbel.fgov.be (statbel.fgov.be)|193.191.245.224|:443... connected.
HTTP request sent, awaiting response... 304 Not Modified
File ‘Faill_Heb_fr.xlsx’ not modified on server. Omitting download.

--2021-01-26 11:31:24--  https://www.acaps.org/sites/acaps/files/resources/files/acaps_covid19_government_measures_dataset_0.xlsx
Resolving www.acaps.org (www.acaps.org)... 151.80.35.46
Connecting to www.acaps.org (www.acaps.org)|151.80.35.46|:443... connected.
HTTP request sent, awaiting response... 304 Not Modified
File ‘acaps_covid19_government_measures_dataset_0.xlsx’ not modified on server. Omitting download.

In [3]:
fail = pd.read_excel("Faill_Heb_fr.xlsx",keep_default_na=False, na_values='', engine='openpyxl',header=[0,1],index_col=[0,1,2,3])

In [4]:
fail.head()

                              Région de Bruxelles-Capitale                \
Date fin                                         Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03                            .             .
     1  2010-01-04 2010-01-10                           77            76
     2  2010-01-11 2010-01-17                           38            78
     3  2010-01-18 2010-01-24                           42            86
     4  2010-01-25 2010-01-31                           26            26

                              Région flamande               Région wallonne  \
Date fin                            Faillites Pertes emploi       Faillites
2010 53 2009-12-28 2010-01-03               .             .               1
     1  2010-01-04 2010-01-10             129           193              47
     2  2010-01-11 2010-01-17             116           230              53
     3  2010-01-18 2010-01-24              88           168              58
     4  2010-01-25 2010-01-31              82           111              54

                                                Total                \
Date fin                      Pertes emploi Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03            11         1            11
     1  2010-01-04 2010-01-10           256       253           525
     2  2010-01-11 2010-01-17            89       207           397
     3  2010-01-18 2010-01-24           103       188           357
     4  2010-01-25 2010-01-31            80       162           217


Date fin                      Pertes emploi.1
2010 53 2009-12-28 2010-01-03             NaN
     1  2010-01-04 2010-01-10             NaN
     2  2010-01-11 2010-01-17             NaN
     3  2010-01-18 2010-01-24             NaN
     4  2010-01-25 2010-01-31             NaN

In [5]:
gov = pd.read_excel("acaps_covid19_government_measures_dataset_0.xlsx", sheet_name="Dataset",engine='openpyxl')

In [6]:
gov.head()

,ID,ISO,COUNTRY,REGION,ADMIN_LEVEL_NAME,PCODE,LOG_TYPE,CATEGORY,MEASURE,TARGETED_POP_GROUP,COMMENTS,NON_COMPLIANCE,DATE_IMPLEMENTED,SOURCE,SOURCE_TYPE,LINK,ENTRY_DATE,Alternative source
0,4245,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Public health measures,Awareness campaigns,NaN,MoPH begins announcements on their facebook to...,NaN,2020-01-24,Afghanistan MoPH,Government,https://www.facebook.com/af.moph/posts/1005130...,2020-04-07,NaN
1,4246,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Public health measures,Health screenings in airports and border cross...,checked,Health teams at airports will check passengers...,NaN,2020-01-26,Afghanistan MoPH,Government,https://www.facebook.com/af.moph/posts/1006458...,2020-04-07,NaN
2,4247,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Movement restrictions,International flights suspension,checked,Flights to China are suspended.,NaN,2020-01-27,Afghanistan MoPH,Government,https://www.facebook.com/af.moph/photos/a.4625...,2020-04-07,NaN
3,4248,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Public health measures,Health screenings in airports and border cross...,NaN,Health screenings of all passengers at airports.,NaN,2020-01-27,Afghanistan MoPH,Government,https://www.facebook.com/af.moph/photos/a.4625...,2020-04-07,NaN
4,23,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Movement restrictions,Border checks,checked,All China and Iran nationals,NaN,2020-02-01,US Embassy,Government,https://af.usembassy.gov/covid-19-information/,2020-03-14,NaN

## Cleaning

In [7]:
fail.drop("Pertes emploi.1",axis=1,level=1,inplace=True)

In [8]:
fail.head()

                              Région de Bruxelles-Capitale                \
Date fin                                         Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03                            .             .
     1  2010-01-04 2010-01-10                           77            76
     2  2010-01-11 2010-01-17                           38            78
     3  2010-01-18 2010-01-24                           42            86
     4  2010-01-25 2010-01-31                           26            26

                              Région flamande               Région wallonne  \
Date fin                            Faillites Pertes emploi       Faillites
2010 53 2009-12-28 2010-01-03               .             .               1
     1  2010-01-04 2010-01-10             129           193              47
     2  2010-01-11 2010-01-17             116           230              53
     3  2010-01-18 2010-01-24              88           168              58
     4  2010-01-25 2010-01-31              82           111              54

                                                Total
Date fin                      Pertes emploi Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03            11         1            11
     1  2010-01-04 2010-01-10           256       253           525
     2  2010-01-11 2010-01-17            89       207           397
     3  2010-01-18 2010-01-24           103       188           357
     4  2010-01-25 2010-01-31            80       162           217

In [9]:
fail.describe()

         Région wallonne                     Total
Date fin       Faillites Pertes emploi   Faillites Pertes emploi
count         577.000000    577.000000  577.000000    577.000000
mean           52.623917    133.071057  190.043328    418.197574
std            21.017494     82.178267   65.273356    197.561170
min             1.000000      2.000000    1.000000     11.000000
25%            38.000000     75.000000  148.000000    290.000000
50%            54.000000    119.000000  195.000000    397.000000
75%            67.000000    171.000000  234.000000    528.000000
max           112.000000    554.000000  362.000000   1694.000000

In [10]:
measure_be = gov[gov["ISO"]=="BEL"]

In [14]:
measure_be = measure_be[["ADMIN_LEVEL_NAME","LOG_TYPE","CATEGORY","MEASURE","ENTRY_DATE"]].reset_index(drop=True)

In [15]:
measure_be.head()

,ADMIN_LEVEL_NAME,LOG_TYPE,CATEGORY,MEASURE,ENTRY_DATE
0,Wollonia,Introduction / extension of measures,Public health measures,Isolation and quarantine policies,2020-04-11
1,Wollonia,Introduction / extension of measures,Governance and socio-economic measures,Economic measures,2020-04-11
2,NaN,Introduction / extension of measures,Public health measures,Strengthening the public health system,2020-04-14
3,NaN,Introduction / extension of measures,Governance and socio-economic measures,Economic measures,2020-04-16
4,Flanders,Introduction / extension of measures,Governance and socio-economic measures,Economic measures,2020-04-20

In [13]:
measure_be.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 2391 to 2644
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADMIN_LEVEL_NAME  90 non-null     object
 1   LOG_TYPE          254 non-null    object
 2   CATEGORY          254 non-null    object
 3   MEASURE           254 non-null    object
 4   ENTRY_DATE        254 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 11.9+ KB

## Analysing