# Analyse of the relations between bankrupts and government mesures for the covid situation

In [29]:
import pandas as pd

## Importing the datasets

In [30]:
!wget -N https://statbel.fgov.be/sites/default/files/files/documents/Ondernemingen/7.5%20Faillissementen/Faill_Heb_fr.xlsx
!wget -N https://www.acaps.org/sites/acaps/files/resources/files/acaps_covid19_government_measures_dataset_0.xlsx

--2021-01-26 11:50:56--  https://statbel.fgov.be/sites/default/files/files/documents/Ondernemingen/7.5%20Faillissementen/Faill_Heb_fr.xlsx
Resolving statbel.fgov.be (statbel.fgov.be)... 193.191.245.224
Connecting to statbel.fgov.be (statbel.fgov.be)|193.191.245.224|:443... connected.
HTTP request sent, awaiting response... 200 OK
Server ignored If-Modified-Since header for file 'Faill_Heb_fr.xlsx'.
You might want to add --no-if-modified-since option.

--2021-01-26 11:50:56--  https://www.acaps.org/sites/acaps/files/resources/files/acaps_covid19_government_measures_dataset_0.xlsx
Resolving www.acaps.org (www.acaps.org)... 151.80.35.46
Connecting to www.acaps.org (www.acaps.org)|151.80.35.46|:443... connected.
HTTP request sent, awaiting response... 200 OK
Server ignored If-Modified-Since header for file 'acaps_covid19_government_measures_dataset_0.xlsx'.
You might want to add --no-if-modified-since option.

In [31]:
fail = pd.read_excel("Faill_Heb_fr.xlsx",keep_default_na=False, na_values='', engine='openpyxl',header=[0,1],index_col=[0,1,2,3])

In [32]:
fail.head()

                              Région de Bruxelles-Capitale                \
Date fin                                         Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03                            .             .
     1  2010-01-04 2010-01-10                           77            76
     2  2010-01-11 2010-01-17                           38            78
     3  2010-01-18 2010-01-24                           42            86
     4  2010-01-25 2010-01-31                           26            26

                              Région flamande               Région wallonne  \
Date fin                            Faillites Pertes emploi       Faillites
2010 53 2009-12-28 2010-01-03               .             .               1
     1  2010-01-04 2010-01-10             129           193              47
     2  2010-01-11 2010-01-17             116           230              53
     3  2010-01-18 2010-01-24              88           168              58
     4  2010-01-25 2010-01-31              82           111              54

                                                Total                \
Date fin                      Pertes emploi Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03            11         1            11
     1  2010-01-04 2010-01-10           256       253           525
     2  2010-01-11 2010-01-17            89       207           397
     3  2010-01-18 2010-01-24           103       188           357
     4  2010-01-25 2010-01-31            80       162           217


Date fin                      Pertes emploi.1
2010 53 2009-12-28 2010-01-03             NaN
     1  2010-01-04 2010-01-10             NaN
     2  2010-01-11 2010-01-17             NaN
     3  2010-01-18 2010-01-24             NaN
     4  2010-01-25 2010-01-31             NaN

In [33]:
gov = pd.read_excel("acaps_covid19_government_measures_dataset_0.xlsx", sheet_name="Dataset",engine='openpyxl')

In [34]:
gov.head()

,ID,ISO,COUNTRY,REGION,ADMIN_LEVEL_NAME,PCODE,LOG_TYPE,CATEGORY,MEASURE,TARGETED_POP_GROUP,COMMENTS,NON_COMPLIANCE,DATE_IMPLEMENTED,SOURCE,SOURCE_TYPE,LINK,ENTRY_DATE,Alternative source
0,4245,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Public health measures,Awareness campaigns,NaN,MoPH begins announcements on their facebook to...,NaN,2020-01-24,Afghanistan MoPH,Government,https://www.facebook.com/af.moph/posts/1005130...,2020-04-07,NaN
1,4246,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Public health measures,Health screenings in airports and border cross...,checked,Health teams at airports will check passengers...,NaN,2020-01-26,Afghanistan MoPH,Government,https://www.facebook.com/af.moph/posts/1006458...,2020-04-07,NaN
2,4247,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Movement restrictions,International flights suspension,checked,Flights to China are suspended.,NaN,2020-01-27,Afghanistan MoPH,Government,https://www.facebook.com/af.moph/photos/a.4625...,2020-04-07,NaN
3,4248,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Public health measures,Health screenings in airports and border cross...,NaN,Health screenings of all passengers at airports.,NaN,2020-01-27,Afghanistan MoPH,Government,https://www.facebook.com/af.moph/photos/a.4625...,2020-04-07,NaN
4,23,AFG,Afghanistan,Asia,NaN,NaN,Introduction / extension of measures,Movement restrictions,Border checks,checked,All China and Iran nationals,NaN,2020-02-01,US Embassy,Government,https://af.usembassy.gov/covid-19-information/,2020-03-14,NaN

## Cleaning

In [35]:
fail.drop("Pertes emploi.1",axis=1,level=1,inplace=True)

In [36]:
fail.head()

                              Région de Bruxelles-Capitale                \
Date fin                                         Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03                            .             .
     1  2010-01-04 2010-01-10                           77            76
     2  2010-01-11 2010-01-17                           38            78
     3  2010-01-18 2010-01-24                           42            86
     4  2010-01-25 2010-01-31                           26            26

                              Région flamande               Région wallonne  \
Date fin                            Faillites Pertes emploi       Faillites
2010 53 2009-12-28 2010-01-03               .             .               1
     1  2010-01-04 2010-01-10             129           193              47
     2  2010-01-11 2010-01-17             116           230              53
     3  2010-01-18 2010-01-24              88           168              58
     4  2010-01-25 2010-01-31              82           111              54

                                                Total
Date fin                      Pertes emploi Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03            11         1            11
     1  2010-01-04 2010-01-10           256       253           525
     2  2010-01-11 2010-01-17            89       207           397
     3  2010-01-18 2010-01-24           103       188           357
     4  2010-01-25 2010-01-31            80       162           217

In [37]:
fail.describe()

         Région wallonne                     Total
Date fin       Faillites Pertes emploi   Faillites Pertes emploi
count         577.000000    577.000000  577.000000    577.000000
mean           52.623917    133.071057  190.043328    418.197574
std            21.017494     82.178267   65.273356    197.561170
min             1.000000      2.000000    1.000000     11.000000
25%            38.000000     75.000000  148.000000    290.000000
50%            54.000000    119.000000  195.000000    397.000000
75%            67.000000    171.000000  234.000000    528.000000
max           112.000000    554.000000  362.000000   1694.000000

In [38]:
fail[fail['Région de Bruxelles-Capitale']['Faillites'] == '.']

                              Région de Bruxelles-Capitale                \
Date fin                                         Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03                            .             .
2012 28 2012-07-09 2012-07-15                            .             .
2013 30 2013-07-22 2013-07-28                            .             .
2014 35 2014-08-25 2014-08-31                            .             .
2016 13 2016-03-28 2016-04-03                            .             .
     29 2016-07-18 2016-07-24                            .             .
     31 2016-08-01 2016-08-07                            .             .
     33 2016-08-15 2016-08-21                            .             .
     35 2016-08-29 2016-09-04                            .             .
2017 52 2016-12-26 2017-01-01                            .             .
     27 2017-07-03 2017-07-09                            .             .
     29 2017-07-17 2017-07-23                            .             .
     31 2017-07-31 2017-08-06                            .             .
     52 2017-12-25 2017-12-31                            .             .
2018 1  2018-01-01 2018-01-07                            .             .
     52 2018-12-24 2018-12-30                            .             .
2019 16 2019-04-15 2019-04-21                            .             .
     33 2019-08-12 2019-08-18                            .             .
     35 2019-08-26 2019-09-01                            .             .
2020 30 2020-07-20 2020-07-26                            .             .
     32 2020-08-03 2020-08-09                            .             .
     53 2020-12-28 2021-01-03                            .             .

                              Région flamande               Région wallonne  \
Date fin                            Faillites Pertes emploi       Faillites
2010 53 2009-12-28 2010-01-03               .             .               1
2012 28 2012-07-09 2012-07-15              71           167              66
2013 30 2013-07-22 2013-07-28              65           149              61
2014 35 2014-08-25 2014-08-31              55            84              19
2016 13 2016-03-28 2016-04-03              39           114              24
     29 2016-07-18 2016-07-24              35            52              12
     31 2016-08-01 2016-08-07              37            88              16
     33 2016-08-15 2016-08-21              51            75              22
     35 2016-08-29 2016-09-04              58            77              19
2017 52 2016-12-26 2017-01-01              29            43              17
     27 2017-07-03 2017-07-09             110           373              33
     29 2017-07-17 2017-07-23              47            57              23
     31 2017-07-31 2017-08-06              40            41              11
     52 2017-12-25 2017-12-31              21            22              30
2018 1  2018-01-01 2018-01-07              68           101              25
     52 2018-12-24 2018-12-30              30            37              17
2019 16 2019-04-15 2019-04-21              63           110              42
     33 2019-08-12 2019-08-18              54            94              17
     35 2019-08-26 2019-09-01              44            49              27
2020 30 2020-07-20 2020-07-26              39            59               8
     32 2020-08-03 2020-08-09              68          1207              16
     53 2020-12-28 2021-01-03              26            36              15

                                                Total
Date fin                      Pertes emploi Faillites Pertes emploi
2010 53 2009-12-28 2010-01-03            11         1            11
2012 28 2012-07-09 2012-07-15           131       137           298
2013 30 2013-07-22 2013-07-28           101       126           250
2014 35 2014-08-25 2014-08-31            22        74           106
2016 13 2016-03-28 2016-04-03            39        63           153
     29 2016-07-18 2016-07-24            11        47            63
     31 2016-08-01 2016-08-07            44        53           132
     33 2016-08-15 2016-08-21            34        73           109
     35 2016-08-29 2016-09-04            25        77           102
2017 52 2016-12-26 2017-01-01            40        46            83
     27 2017-07-03 2017-07-09           277       143           650
     29 2017-07-17 2017-07-23            20        70            77
     31 2017-07-31 2017-08-06            39        51            80
     52 2017-12-25 2017-12-31            48        51            70
2018 1  2018-01-01 2018-01-07            28        93           129
     52 2018-12-24 2018-12-30            22        47            59
2019 16 2019-04-15 2019-04-21           120       105           230
     33 2019-08-12 2019-08-18            29        71           123
     35 2019-08-26 2019-09-01            37        71            86
2020 30 2020-07-20 2020-07-26             2        47            61
     32 2020-08-03 2020-08-09            41        84          1248
     53 2020-12-28 2021-01-03            39        41            75

In [39]:
fail[fail['Région de Bruxelles-Capitale']['Faillites'] == 0]

Empty DataFrame
Columns: [(Région de Bruxelles-Capitale, Faillites), (Région de Bruxelles-Capitale, Pertes emploi), (Région flamande, Faillites), (Région flamande, Pertes emploi), (Région wallonne, Faillites), (Région wallonne, Pertes emploi), (Total, Faillites), (Total, Pertes emploi)]
Index: []

In [40]:
# fonction to replace all the dots by 0

In [55]:
fail['Région de Bruxelles-Capitale']['Faillites'].apply(replace_dots)

2010  53  2009-12-28  2010-01-03    0
      1   2010-01-04  2010-01-10    1
      2   2010-01-11  2010-01-17    1
      3   2010-01-18  2010-01-24    1
      4   2010-01-25  2010-01-31    1
                                   ..
2020  51  2020-12-14  2020-12-20    1
      52  2020-12-21  2020-12-27    1
      53  2020-12-28  2021-01-03    0
2021  1   2021-01-04  2021-01-10    1
      2   2021-01-11  2021-01-17    1
Name: Faillites, Length: 577, dtype: int64

In [54]:
def replace_dots(items):
    if items == ".":
        return 0
    return 1

In [ ]:
measure_be = gov[gov["ISO"]=="BEL"]

In [ ]:
measure_be = measure_be[["ADMIN_LEVEL_NAME","LOG_TYPE","CATEGORY","MEASURE","ENTRY_DATE"]].reset_index(drop=True)

In [ ]:
measure_be.head()

In [ ]:
measure_be.info()

## Analysing