# Workshop IBM about the Covid

In [1]:
!wget -N https://epistat.sciensano.be/Data/COVID19BE.xlsx
!wget -N https://epistat.sciensano.be/Data/COVID19BE_HOSP.csv
!wget -N https://epistat.sciensano.be/Data/COVID19BE_MORT.csv

--2021-01-19 10:20:09--  https://epistat.sciensano.be/Data/COVID19BE.xlsx
Resolving epistat.sciensano.be (epistat.sciensano.be)... 193.190.199.10
Connecting to epistat.sciensano.be (epistat.sciensano.be)|193.190.199.10|:443... connected.
HTTP request sent, awaiting response... 304 Not Modified
File ‘COVID19BE.xlsx’ not modified on server. Omitting download.

--2021-01-19 10:20:09--  https://epistat.sciensano.be/Data/COVID19BE_HOSP.csv
Resolving epistat.sciensano.be (epistat.sciensano.be)... 193.190.199.10
Connecting to epistat.sciensano.be (epistat.sciensano.be)|193.190.199.10|:443... connected.
HTTP request sent, awaiting response... 304 Not Modified
File ‘COVID19BE_HOSP.csv’ not modified on server. Omitting download.

--2021-01-19 10:20:09--  https://epistat.sciensano.be/Data/COVID19BE_MORT.csv
Resolving epistat.sciensano.be (epistat.sciensano.be)... 193.190.199.10
Connecting to epistat.sciensano.be (epistat.sciensano.be)|193.190.199.10|:443... connected.
HTTP request sent, awaiting response... 304 Not Modified
File ‘COVID19BE_MORT.csv’ not modified on server. Omitting download.

In [2]:
import pandas as pd
import numpy  as np
%matplotlib inline

In [3]:
df_base = pd.read_excel('COVID19BE.xlsx', keep_default_na=False, na_values='', engine='openpyxl')
df_hosp = pd.read_csv('COVID19BE_HOSP.csv', keep_default_na=False, na_values='')
df_death = pd.read_csv('COVID19BE_MORT.csv', keep_default_na=False, na_values='')

In [4]:
df_base.head(10)

         DATE        PROVINCE    REGION AGEGROUP SEX  CASES
0  2020-03-01       Antwerpen  Flanders    40-49   M      1
1  2020-03-01        Brussels  Brussels    10-19   F      1
2  2020-03-01        Brussels  Brussels    10-19   M      1
3  2020-03-01        Brussels  Brussels    20-29   M      1
4  2020-03-01        Brussels  Brussels    30-39   F      1
5  2020-03-01        Brussels  Brussels    40-49   F      1
6  2020-03-01        Brussels  Brussels    50-59   M      1
7  2020-03-01           Liège  Wallonia    40-49   M      3
8  2020-03-01         Limburg  Flanders    70-79   M      1
9  2020-03-01  OostVlaanderen  Flanders    50-59   F      1

In [5]:
df_hosp.head(10)

,DATE,PROVINCE,REGION,NR_REPORTING,TOTAL_IN,TOTAL_IN_ICU,TOTAL_IN_RESP,TOTAL_IN_ECMO,NEW_IN,NEW_OUT
0,2020-03-15,Antwerpen,Flanders,14,50,9,4,0,8,8
1,2020-03-15,Brussels,Brussels,14,58,11,8,0,7,2
2,2020-03-15,Hainaut,Wallonia,15,56,13,11,1,26,1
3,2020-03-15,Limburg,Flanders,7,20,6,3,0,9,3
4,2020-03-15,Liège,Wallonia,12,22,2,1,0,4,1
5,2020-03-15,Luxembourg,Wallonia,3,4,0,0,0,3,0
6,2020-03-15,Namur,Wallonia,6,2,1,1,0,0,0
7,2020-03-15,OostVlaanderen,Flanders,14,16,5,1,0,5,1
8,2020-03-15,VlaamsBrabant,Flanders,6,14,2,0,0,2,0
9,2020-03-15,BrabantWallon,Wallonia,2,5,2,2,0,1,0

In [6]:
df_death.head(10)

         DATE    REGION AGEGROUP SEX  DEATHS
0  2020-03-10  Brussels      85+   F       1
1  2020-03-11  Flanders      85+   M       1
2  2020-03-11  Brussels    65-74   M       1
3  2020-03-11  Brussels      85+   F       1
4  2020-03-12  Brussels    75-84   M       1
5  2020-03-13  Brussels    75-84   F       2
6  2020-03-13  Brussels      85+   M       1
7  2020-03-14  Flanders    75-84   M       1
8  2020-03-14  Brussels    65-74   M       1
9  2020-03-14  Brussels    75-84   M       1

In [7]:
df_base.isna().sum()

DATE          49
PROVINCE    3296
REGION      3296
AGEGROUP    1439
SEX          839
CASES          0
dtype: int64

In [8]:
df_base.shape

(52849, 6)

In [9]:
df_hosp.isna().sum()

DATE             0
PROVINCE         0
REGION           0
NR_REPORTING     0
TOTAL_IN         0
TOTAL_IN_ICU     0
TOTAL_IN_RESP    0
TOTAL_IN_ECMO    0
NEW_IN           0
NEW_OUT          0
dtype: int64

In [10]:
df_hosp.shape

(3410, 10)

In [11]:
df_death.isna().sum()

DATE        0
REGION      0
AGEGROUP    0
SEX         0
DEATHS      0
dtype: int64

In [12]:
df_death.shape

(3955, 5)

## Fusing the datasets

In [13]:
death = df_death.groupby(['DATE', 'REGION']).sum()
death.head(10)

                     DEATHS
DATE       REGION
2020-03-10 Brussels       1
2020-03-11 Brussels       2
           Flanders       1
2020-03-12 Brussels       1
2020-03-13 Brussels       3
2020-03-14 Brussels       4
           Flanders       1
2020-03-15 Brussels       2
           Flanders       3
           Wallonia       1

In [14]:
hosp = df_hosp.groupby(['DATE', 'REGION']).sum()
hosp.head(10)

                     NR_REPORTING  TOTAL_IN  TOTAL_IN_ICU  TOTAL_IN_RESP  \
DATE       REGION
2020-03-15 Brussels            14        58            11              8
           Flanders            52       119            25              9
           Wallonia            38        89            18             15
2020-03-16 Brussels            15        81            14             11
           Flanders            52       159            40             20
           Wallonia            37       130            25             20
2020-03-17 Brussels            16       115            23             16
           Flanders            52       223            43             26
           Wallonia            37       159            34             24
2020-03-18 Brussels            16       124            29             18

                     TOTAL_IN_ECMO  NEW_IN  NEW_OUT
DATE       REGION
2020-03-15 Brussels              0       7        2
           Flanders              0      30       14
           Wallonia              1      34        2
2020-03-16 Brussels              0      11        4
           Flanders              0      45        7
           Wallonia              1      34        3
2020-03-17 Brussels              1      16        5
           Flanders              1      69       20
           Wallonia              1      37        6
2020-03-18 Brussels              2      18        5

In [15]:
final = pd.merge(death, hosp, how='outer', on=['DATE', 'REGION'])
final.head(10)

                     DEATHS  NR_REPORTING  TOTAL_IN  TOTAL_IN_ICU  \
DATE       REGION
2020-03-10 Brussels     1.0           NaN       NaN           NaN
2020-03-11 Brussels     2.0           NaN       NaN           NaN
           Flanders     1.0           NaN       NaN           NaN
2020-03-12 Brussels     1.0           NaN       NaN           NaN
2020-03-13 Brussels     3.0           NaN       NaN           NaN
2020-03-14 Brussels     4.0           NaN       NaN           NaN
           Flanders     1.0           NaN       NaN           NaN
2020-03-15 Brussels     2.0          14.0      58.0          11.0
           Flanders     3.0          52.0     119.0          25.0
           Wallonia     1.0          38.0      89.0          18.0

                     TOTAL_IN_RESP  TOTAL_IN_ECMO  NEW_IN  NEW_OUT
DATE       REGION
2020-03-10 Brussels            NaN            NaN     NaN      NaN
2020-03-11 Brussels            NaN            NaN     NaN      NaN
           Flanders            NaN            NaN     NaN      NaN
2020-03-12 Brussels            NaN            NaN     NaN      NaN
2020-03-13 Brussels            NaN            NaN     NaN      NaN
2020-03-14 Brussels            NaN            NaN     NaN      NaN
           Flanders            NaN            NaN     NaN      NaN
2020-03-15 Brussels            8.0            0.0     7.0      2.0
           Flanders            9.0            0.0    30.0     14.0
           Wallonia           15.0            1.0    34.0      2.0

In [16]:
final = final.reset_index()
final.head(10)

,DATE,REGION,DEATHS,NR_REPORTING,TOTAL_IN,TOTAL_IN_ICU,TOTAL_IN_RESP,TOTAL_IN_ECMO,NEW_IN,NEW_OUT
0,2020-03-10,Brussels,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-11,Brussels,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-11,Flanders,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-12,Brussels,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-13,Brussels,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-03-14,Brussels,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2020-03-14,Flanders,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020-03-15,Brussels,2.0,14.0,58.0,11.0,8.0,0.0,7.0,2.0
8,2020-03-15,Flanders,3.0,52.0,119.0,25.0,9.0,0.0,30.0,14.0
9,2020-03-15,Wallonia,1.0,38.0,89.0,18.0,15.0,1.0,34.0,2.0

In [17]:
final.isna().sum()

DATE               0
REGION             0
DEATHS           102
NR_REPORTING       7
TOTAL_IN           7
TOTAL_IN_ICU       7
TOTAL_IN_RESP      7
TOTAL_IN_ECMO      7
NEW_IN             7
NEW_OUT            7
dtype: int64

In [18]:
final[final['DEATHS'].isna()]

,DATE,REGION,DEATHS,NR_REPORTING,TOTAL_IN,TOTAL_IN_ICU,TOTAL_IN_RESP,TOTAL_IN_ECMO,NEW_IN,NEW_OUT
835,2020-06-14,Wallonia,NaN,37.0,87.0,12.0,5.0,1.0,4.0,3.0
836,2020-06-16,Brussels,NaN,15.0,98.0,22.0,11.0,3.0,4.0,10.0
837,2020-06-18,Brussels,NaN,15.0,93.0,19.0,9.0,3.0,5.0,9.0
838,2020-06-20,Brussels,NaN,15.0,71.0,17.0,10.0,3.0,2.0,7.0
839,2020-06-24,Brussels,NaN,15.0,53.0,15.0,7.0,2.0,2.0,8.0
...,...,...,...,...,...,...,...,...,...,...
932,2020-09-22,Wallonia,NaN,37.0,138.0,25.0,13.0,2.0,16.0,15.0
933,2020-09-26,Brussels,NaN,15.0,178.0,40.0,26.0,4.0,13.0,15.0
934,2020-09-29,Brussels,NaN,15.0,221.0,46.0,32.0,2.0,30.0,25.0
935,2021-01-10,Brussels,NaN,15.0,216.0,58.0,33.0,8.0,5.0,8.0
936,2021-01-18,Brussels,NaN,15.0,255.0,55.0,27.0,7.0,16.0,11.0

In [19]:
final[final['DEATHS'].isna()].describe(include='all')

,DATE,REGION,DEATHS,NR_REPORTING,TOTAL_IN,TOTAL_IN_ICU,TOTAL_IN_RESP,TOTAL_IN_ECMO,NEW_IN,NEW_OUT
count,102,102,0.0,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
unique,73,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2020-07-10,Brussels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,26.960784,71.715686,16.176471,8.813725,1.235294,6.549020,6.186275
std,NaN,NaN,NaN,13.473055,46.824589,10.112645,5.924827,1.630018,6.183061,5.541438
min,NaN,NaN,NaN,14.000000,20.000000,2.000000,2.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,15.000000,37.000000,10.000000,5.000000,0.000000,2.000000,2.000000
50%,NaN,NaN,NaN,15.000000,56.000000,14.000000,8.000000,1.000000,5.000000,4.000000
75%,NaN,NaN,NaN,37.000000,92.750000,22.000000,12.000000,2.000000,10.000000,10.000000
max,NaN,NaN,NaN,52.000000,255.000000,58.000000,33.000000,8.000000,31.000000,25.000000

In [20]:
final['DEATHS'] = final['DEATHS'].fillna(0)

In [21]:
final[final['DEATHS'].isna()]

Empty DataFrame
Columns: [DATE, REGION, DEATHS, NR_REPORTING, TOTAL_IN, TOTAL_IN_ICU, TOTAL_IN_RESP, TOTAL_IN_ECMO, NEW_IN, NEW_OUT]
Index: []

In [22]:
final = final.dropna()

In [23]:
final.isna().sum()

DATE             0
REGION           0
DEATHS           0
NR_REPORTING     0
TOTAL_IN         0
TOTAL_IN_ICU     0
TOTAL_IN_RESP    0
TOTAL_IN_ECMO    0
NEW_IN           0
NEW_OUT          0
dtype: int64